In [10]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(''), 'src')))

from data_loader import DataLoader
from data_preprocessing import DataPreprocessing
from data_exploration import DataExploration

ModuleNotFoundError: No module named 'data_loader'

In [3]:
# Display the first few rows of each dataset
print("Train Data:\n", train.head())

Train Data:
    Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [4]:
# Summary statistics
print(train.describe())

              Year       Month  Sales(In ThousandDollars)
count   180.000000  180.000000                 170.000000
mean   2011.000000    6.500000                1616.729412
std       1.418158    3.461682                1158.224405
min    2009.000000    1.000000                 471.000000
25%    2010.000000    3.750000                 704.000000
50%    2011.000000    6.500000                1041.000000
75%    2012.000000    9.250000                2609.750000
max    2013.000000   12.000000                4865.000000

In [5]:
# Check for missing values
print(train.isnull().sum())

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    10
dtype: int64

In [6]:
print(macro.describe())
print("Macro Economic Data:\n", macro.head())
print(macro.isnull().sum())

       Monthly Nominal GDP Index (inMillion$)  \
count                               96.000000
mean                             16490.078125
std                               1427.554038
min                              14317.372922
25%                              15210.701514
50%                              16422.454368
75%                              17772.032416
max                              19015.393408

       Monthly Real GDP Index (inMillion$)         CPI  unemployment rate  \
count                            96.000000   96.000000          96.000000
mean                          15548.932194  252.372552           7.442708
std                             773.076316    9.290857           1.766397
min                           14345.676097  233.402000           4.600000
25%                           14919.668252  242.474500           5.675000
50%                           15442.996869  254.680500           7.750000
75%                           16262.237629  260.381500           9.000000
max                           16918.050624  265.421000          10.000000

       CommercialBankInterestRateonCreditCardPlans  \
count                                    96.000000
mean                                     12.519479
std                                       0.722375
min                                      11.820000
25%                                      11.950000
50%                                      12.220000
75%                                      13.057500
max                                      14.260000

       Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  \
count                                          96.000000
mean                                           10.447604
std                                             0.560651
min                                             9.450000
25%                                            10.030000
50%                                            10.470000
75%                                            10.940000
max                                            11.440000

       Earnings or wages  in dollars per hour  \
count                               96.000000
mean                                23.793229
std                                  1.147167
min                                 21.960000
25%                                 22.797500
50%                                 23.800000
75%                                 24.772500
max                                 26.040000

       Cotton Monthly Price - US cents per Pound(lbs)  Change(in%)  \
count                                       96.000000    96.000000
mean                                        91.034479     0.615521
std                                         33.613974     6.919387
min                                         51.500000   -23.590000
25%                                         70.377500    -2.400000
50%                                         83.905000     0.350000
75%                                         93.322500     3.482500
max                                        229.670000    22.850000

       Average upland planted(million acres)  \
count                              96.000000
mean                               10.647698
std                                 1.728418
min                                 8.398000
25%                                 9.296000
50%                                10.260500
75%                                11.412250
max                                14.431000

       Average upland harvested(million acres)  yieldperharvested acre  \
count                                96.000000               96.000000
mean                                  8.851885              791.843750
std                                   1.102847               25.753621
min                                   7.345000              747.000000
25%                                   7.586000              772.750000
50%                                   9.156500              790.000000
75%                                   9.654500              807.000000
max                                  10.577000              869.000000

       Production (in  480-lb netweright in million bales)  \
count                                          96.000000
mean                                           14.616010
std                                             2.007579
min                                            11.751000
25%                                            12.551000
50%                                            14.959000
75%                                            16.250000
max                                            18.375000

       Mill use  (in  480-lb netweright in million bales)    Exports
count                                          96.000000   96.000000
mean                                            3.556104   11.061615
std                                             0.158263    1.710573
min                                             3.275000    8.500000
25%                                             3.410000    9.742500
50%                                             3.572500   10.637500
75%                                             3.675000   11.493750
max                                             4.170000   15.280000
Macro Economic Data:
    Year-Month  Monthly Nominal GDP Index (inMillion$)  \
0  2009 - Jan                            14421.752895
1  2009 - Feb                            14389.200466
2  2009 - Mar                            14340.701639
3  2009 - Apr                            14326.815525
4  2009 - May                            14345.904809

   Monthly Real GDP Index (inMillion$)      CPI PartyInPower  \
0                         14407.053343  233.402    Democrats
1                         14366.176571  234.663    Democrats
2                         14351.786822  235.067    Democrats
3                         14351.601731  235.582    Democrats
4                         14368.123959  235.975    Democrats

   unemployment rate  CommercialBankInterestRateonCreditCardPlans  \
0                7.8                                        12.03
1                8.3                                        12.97
2                8.7                                        12.97
3                9.0                                        12.97
4                9.4                                        13.32

   Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  \
0                                              11.44
1                                              11.05
2                                              11.05
3                                              11.05
4                                              11.25

   Earnings or wages  in dollars per hour  \
0                                   22.05
1                                   22.22
2                                   22.22
3                                   22.13
4                                   22.04

  AdvertisingExpenses (in Thousand Dollars)  \
0                                       137
1                                       200
2                                         ?
3                                       214
4                                         ?

   Cotton Monthly Price - US cents per Pound(lbs)  Change(in%)  \
0                                           57.70         4.02
1                                           55.21        -4.32
2                                           51.50        -6.72
3                                           56.78        10.25
4                                           61.95         9.11

   Average upland planted(million acres)  \
0                                  9.296
1                                  9.296
2                                  9.296
3                                  9.296
4                                  9.297

   Average upland harvested(million acres)  yieldperharvested acre  \
0                                    7.559                     799
1                                    7.559                     799
2                                    7.559                     799
3                                    7.559                     787
4                                    7.400                     803

   Production (in  480-lb netweright in million bales)  \
0                                             12.589
1                                             12.589
2                                             12.589
3                                             12.400
4                                             12.384

   Mill use  (in  480-lb netweright in million bales)  Exports
0                                               4.17    11.550
1                                               3.87    11.100
2                                               3.72    11.650
3                                               3.62    12.225
4                                               3.52    12.300
Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

In [7]:
print(events.describe())
print("Events and Holidays Data:\n", events.head())
print(events.isnull().sum())

              Year
count   150.000000
mean   2012.540000
std       2.324743
min    2009.000000
25%    2010.250000
50%    2012.500000
75%    2015.000000
max    2016.000000
Events and Holidays Data:
    Year   MonthDate                       Event      DayCategory
0  2009  01/01/2001              New Year's Day  Federal Holiday
1  2009  01/01/2019  Martin Luther King Jr. Day  Federal Holiday
2  2009  02/01/2014             Valentine's Day            Event
3  2009  02/01/2016             Presidents' Day  Federal Holiday
4  2009  04/01/2012               Easter Sunday            Event
Year           0
MonthDate      0
Event          0
DayCategory    0
dtype: int64

In [8]:
print(weather.describe())
print("Weather Data:\n", weather.head())
print(weather.isnull().sum())

         Year         Day  Temp high (°C)  Temp avg (°C)  Temp low (°C)  \
count   365.0  365.000000       365.00000     365.000000     365.000000
mean   2009.0   15.720548        16.09589      12.430137       8.460274
std       0.0    8.808321         9.61307       9.119697       8.834665
min    2009.0    1.000000        -9.00000     -11.000000     -14.000000
25%    2009.0    8.000000         9.00000       6.000000       2.000000
50%    2009.0   16.000000        17.00000      13.000000       9.000000
75%    2009.0   23.000000        24.00000      21.000000      16.000000
max    2009.0   31.000000        33.00000      29.000000      24.000000

       Dew Point high (°C)  Dew Point avg (°C)  Dew Point low (°C)  \
count           365.000000          365.000000          365.000000
mean              8.241096            5.309589            2.030137
std              10.080280           10.564560           11.071529
min             -17.000000          -20.000000          -22.000000
25%               1.000000           -2.000000           -6.000000
50%              10.000000            7.000000            3.000000
75%              16.000000           14.000000           11.000000
max              25.000000           23.000000           21.000000

       Humidity (%) high  Humidity (%) avg  Humidity (%) low  \
count         365.000000        365.000000        365.000000
mean           81.701370         65.246575         48.284932
std            16.014798         14.871409         16.385497
min            32.000000         23.000000         14.000000
25%            70.000000         54.000000         37.000000
50%            84.000000         66.000000         46.000000
75%            97.000000         76.000000         59.000000
max           100.000000         97.000000         93.000000

       Sea Level Press. (hPa) high  Sea Level Press. (hPa) avg  \
count                   365.000000                  365.000000
mean                   1020.134247                 1016.523288
std                       7.130345                    7.651950
min                    1000.000000                  994.000000
25%                    1015.000000                 1012.000000
50%                    1021.000000                 1016.000000
75%                    1026.000000                 1022.000000
max                    1036.000000                 1032.000000

       Sea Level Press. (hPa) low  Visibility (km) high  Visibility (km) avg  \
count                  365.000000            365.000000           365.000000
mean                  1012.830137             15.975342            13.884932
std                      8.263761              0.271231             3.289664
min                    986.000000             13.000000             4.000000
25%                   1008.000000             16.000000            13.000000
50%                   1013.000000             16.000000            16.000000
75%                   1019.000000             16.000000            16.000000
max                   1030.000000             16.000000            16.000000

       Visibility (km) low
count           365.000000
mean             10.531507
std               6.336899
min               0.000000
25%               3.000000
50%              14.000000
75%              16.000000
max              16.000000
Weather Data:
    Year Month  Day  Temp high (°C)  Temp avg (°C)  Temp low (°C)  \
0  2009   Jan    1              -3             -6             -9
1  2009   Jan    2               1             -2             -5
2  2009   Jan    3               3              1             -2
3  2009   Jan    4               6              1             -4
4  2009   Jan    5               6              5              3

   Dew Point high (°C)  Dew Point avg (°C)  Dew Point low (°C)  \
0                  -16                 -17                 -19
1                   -3                  -7                 -17
2                   -5                  -9                 -13
3                  -10                 -12                 -13
4                   -1                  -5                 -16

   Humidity (%) high  ...  Sea Level Press. (hPa) avg  \
0                 54  ...                        1023
1                 78  ...                        1012
2                 72  ...                        1015
3                 55  ...                        1017
4                 62  ...                        1014

   Sea Level Press. (hPa) low  Visibility (km) high  Visibility (km) avg  \
0                        1015                    16                   16
1                        1007                    16                   13
2                        1008                    16                   16
3                        1015                    16                   16
4                        1013                    16                   16

   Visibility (km) low  Wind (km/h) low  Wind (km/h) avg  Wind (km/h) high  \
0                   16               37               18                60
1                    2               27               10                48
2                   16               27               16                42
3                   16               32               12                40
4                   16               23               11                34

  Precip. (mm) sum WeatherEvent
0                0          NaN
1                T         Snow
2                T          NaN
3                0          NaN
4                T          NaN

[5 rows x 23 columns]
Year                             0
Month                            0
Day                              0
Temp high (°C)                   0
Temp avg (°C)                    0
Temp low (°C)                    0
Dew Point high (°C)              0
Dew Point avg (°C)               0
Dew Point low (°C)               0
Humidity (%) high                0
Humidity (%) avg                 0
Humidity (%) low                 0
Sea Level Press. (hPa) high      0
Sea Level Press. (hPa) avg       0
Sea Level Press. (hPa) low       0
Visibility (km) high             0
Visibility (km) avg              0
Visibility (km) low              0
Wind (km/h) low                  0
Wind (km/h) avg                  0
Wind (km/h) high                 0
Precip. (mm) sum                 0
WeatherEvent                   225
dtype: int64

In [9]:
# Display the first few rows of each dataset to ensure they are loaded correctly
print("Train Data:\n", train.head())
print("Macro Economic Data:\n", macro.head())
print("Events and Holidays Data:\n", events.head())
print("Weather Data:\n", weather.head())

Train Data:
    Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0
Macro Economic Data:
    Year-Month  Monthly Nominal GDP Index (inMillion$)  \
0  2009 - Jan                            14421.752895
1  2009 - Feb                            14389.200466
2  2009 - Mar                            14340.701639
3  2009 - Apr                            14326.815525
4  2009 - May                            14345.904809

   Monthly Real GDP Index (inMillion$)      CPI PartyInPower  \
0                         14407.053343  233.402    Democrats
1                         14366.176571  234.663    Democrats
2                         14351.786822  235.067    Democrats
3                         14351.601731  235.582    Democrats
4                         14368.123959  235.975    Democrats

   unemployment rate  CommercialBankInterestRateonCreditCardPlans  \
0                7.8                                        12.03
1                8.3                                        12.97
2                8.7                                        12.97
3                9.0                                        12.97
4                9.4                                        13.32

   Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  \
0                                              11.44
1                                              11.05
2                                              11.05
3                                              11.05
4                                              11.25

   Earnings or wages  in dollars per hour  \
0                                   22.05
1                                   22.22
2                                   22.22
3                                   22.13
4                                   22.04

  AdvertisingExpenses (in Thousand Dollars)  \
0                                       137
1                                       200
2                                         ?
3                                       214
4                                         ?

   Cotton Monthly Price - US cents per Pound(lbs)  Change(in%)  \
0                                           57.70         4.02
1                                           55.21        -4.32
2                                           51.50        -6.72
3                                           56.78        10.25
4                                           61.95         9.11

   Average upland planted(million acres)  \
0                                  9.296
1                                  9.296
2                                  9.296
3                                  9.296
4                                  9.297

   Average upland harvested(million acres)  yieldperharvested acre  \
0                                    7.559                     799
1                                    7.559                     799
2                                    7.559                     799
3                                    7.559                     787
4                                    7.400                     803

   Production (in  480-lb netweright in million bales)  \
0                                             12.589
1                                             12.589
2                                             12.589
3                                             12.400
4                                             12.384

   Mill use  (in  480-lb netweright in million bales)  Exports
0                                               4.17    11.550
1                                               3.87    11.100
2                                               3.72    11.650
3                                               3.62    12.225
4                                               3.52    12.300
Events and Holidays Data:
    Year   MonthDate                       Event      DayCategory
0  2009  01/01/2001              New Year's Day  Federal Holiday
1  2009  01/01/2019  Martin Luther King Jr. Day  Federal Holiday
2  2009  02/01/2014             Valentine's Day            Event
3  2009  02/01/2016             Presidents' Day  Federal Holiday
4  2009  04/01/2012               Easter Sunday            Event
Weather Data:
    Year Month  Day  Temp high (°C)  Temp avg (°C)  Temp low (°C)  \
0  2009   Jan    1              -3             -6             -9
1  2009   Jan    2               1             -2             -5
2  2009   Jan    3               3              1             -2
3  2009   Jan    4               6              1             -4
4  2009   Jan    5               6              5              3

   Dew Point high (°C)  Dew Point avg (°C)  Dew Point low (°C)  \
0                  -16                 -17                 -19
1                   -3                  -7                 -17
2                   -5                  -9                 -13
3                  -10                 -12                 -13
4                   -1                  -5                 -16

   Humidity (%) high  ...  Sea Level Press. (hPa) avg  \
0                 54  ...                        1023
1                 78  ...                        1012
2                 72  ...                        1015
3                 55  ...                        1017
4                 62  ...                        1014

   Sea Level Press. (hPa) low  Visibility (km) high  Visibility (km) avg  \
0                        1015                    16                   16
1                        1007                    16                   13
2                        1008                    16                   16
3                        1015                    16                   16
4                        1013                    16                   16

   Visibility (km) low  Wind (km/h) low  Wind (km/h) avg  Wind (km/h) high  \
0                   16               37               18                60
1                    2               27               10                48
2                   16               27               16                42
3                   16               32               12                40
4                   16               23               11                34

  Precip. (mm) sum WeatherEvent
0                0          NaN
1                T         Snow
2                T          NaN
3                0          NaN
4                T          NaN

[5 rows x 23 columns]

In [10]:
# Print the columns of each dataset
print("\nColumns in Train Data:\n", train.columns)
print("\nColumns in Macro Economic Data:\n", macro.columns)
print("\nColumns in Events and Holidays Data:\n", events.columns)
print("\nColumns in Weather Data:\n", weather.columns)

Columns in Train Data:
 Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')

Columns in Macro Economic Data:
 Index(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports'],
      dtype='object')

Columns in Events and Holidays Data:
 Index(['Year', 'MonthDate', 'Event', 'DayCategory'], dtype='object')

Columns in Weather Data:
 Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [11]:
# Check the datatypes of each dataset
print("\nData Types in Train Data:\n", train.dtypes)
print("\nData Types in Macro Economic Data:\n", macro.dtypes)
print("\nData Types in Events and Holidays Data:\n", events.dtypes)
print("\nData Types in Weather Data:\n", weather.dtypes)

Data Types in Train Data:
 Year                           int64
Month                          int64
ProductCategory               object
Sales(In ThousandDollars)    float64
dtype: object

Data Types in Macro Economic Data:
 Year-Month                                                            object
Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
PartyInPower                                                          object
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
AdvertisingExpenses (in Thousand Dollars)                             object
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
dtype: object

Data Types in Events and Holidays Data:
 Year            int64
MonthDate      object
Event          object
DayCategory    object
dtype: object

Data Types in Weather Data:
 Year                            int64
Month                          object
Day                             int64
Temp high (°C)                  int64
Temp avg (°C)                   int64
Temp low (°C)                   int64
Dew Point high (°C)             int64
Dew Point avg (°C)              int64
Dew Point low (°C)              int64
Humidity (%) high               int64
Humidity (%) avg                int64
Humidity (%) low                int64
Sea Level Press. (hPa) high     int64
Sea Level Press. (hPa) avg      int64
Sea Level Press. (hPa) low      int64
Visibility (km) high            int64
Visibility (km) avg             int64
Visibility (km) low             int64
Wind (km/h) low                object
Wind (km/h) avg                object
Wind (km/h) high               object
Precip. (mm) sum               object
WeatherEvent                   object
dtype: object

In [12]:
# Summary statistics
print("\nTrain Data Summary:\n", train.describe())
print("\nMacro Economic Data Summary:\n", macro.describe())
print("\nEvents and Holidays Data Summary:\n", events.describe())
print("\nWeather Data Summary:\n", weather.describe())

Train Data Summary:
               Year       Month  Sales(In ThousandDollars)
count   180.000000  180.000000                 170.000000
mean   2011.000000    6.500000                1616.729412
std       1.418158    3.461682                1158.224405
min    2009.000000    1.000000                 471.000000
25%    2010.000000    3.750000                 704.000000
50%    2011.000000    6.500000                1041.000000
75%    2012.000000    9.250000                2609.750000
max    2013.000000   12.000000                4865.000000

Macro Economic Data Summary:
        Monthly Nominal GDP Index (inMillion$)  \
count                               96.000000
mean                             16490.078125
std                               1427.554038
min                              14317.372922
25%                              15210.701514
50%                              16422.454368
75%                              17772.032416
max                              19015.393408

       Monthly Real GDP Index (inMillion$)         CPI  unemployment rate  \
count                            96.000000   96.000000          96.000000
mean                          15548.932194  252.372552           7.442708
std                             773.076316    9.290857           1.766397
min                           14345.676097  233.402000           4.600000
25%                           14919.668252  242.474500           5.675000
50%                           15442.996869  254.680500           7.750000
75%                           16262.237629  260.381500           9.000000
max                           16918.050624  265.421000          10.000000

       CommercialBankInterestRateonCreditCardPlans  \
count                                    96.000000
mean                                     12.519479
std                                       0.722375
min                                      11.820000
25%                                      11.950000
50%                                      12.220000
75%                                      13.057500
max                                      14.260000

       Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  \
count                                          96.000000
mean                                           10.447604
std                                             0.560651
min                                             9.450000
25%                                            10.030000
50%                                            10.470000
75%                                            10.940000
max                                            11.440000

       Earnings or wages  in dollars per hour  \
count                               96.000000
mean                                23.793229
std                                  1.147167
min                                 21.960000
25%                                 22.797500
50%                                 23.800000
75%                                 24.772500
max                                 26.040000

       Cotton Monthly Price - US cents per Pound(lbs)  Change(in%)  \
count                                       96.000000    96.000000
mean                                        91.034479     0.615521
std                                         33.613974     6.919387
min                                         51.500000   -23.590000
25%                                         70.377500    -2.400000
50%                                         83.905000     0.350000
75%                                         93.322500     3.482500
max                                        229.670000    22.850000

       Average upland planted(million acres)  \
count                              96.000000
mean                               10.647698
std                                 1.728418
min                                 8.398000
25%                                 9.296000
50%                                10.260500
75%                                11.412250
max                                14.431000

       Average upland harvested(million acres)  yieldperharvested acre  \
count                                96.000000               96.000000
mean                                  8.851885              791.843750
std                                   1.102847               25.753621
min                                   7.345000              747.000000
25%                                   7.586000              772.750000
50%                                   9.156500              790.000000
75%                                   9.654500              807.000000
max                                  10.577000              869.000000

       Production (in  480-lb netweright in million bales)  \
count                                          96.000000
mean                                           14.616010
std                                             2.007579
min                                            11.751000
25%                                            12.551000
50%                                            14.959000
75%                                            16.250000
max                                            18.375000

       Mill use  (in  480-lb netweright in million bales)    Exports
count                                          96.000000   96.000000
mean                                            3.556104   11.061615
std                                             0.158263    1.710573
min                                             3.275000    8.500000
25%                                             3.410000    9.742500
50%                                             3.572500   10.637500
75%                                             3.675000   11.493750
max                                             4.170000   15.280000

Events and Holidays Data Summary:
               Year
count   150.000000
mean   2012.540000
std       2.324743
min    2009.000000
25%    2010.250000
50%    2012.500000
75%    2015.000000
max    2016.000000

Weather Data Summary:
          Year         Day  Temp high (°C)  Temp avg (°C)  Temp low (°C)  \
count   365.0  365.000000       365.00000     365.000000     365.000000
mean   2009.0   15.720548        16.09589      12.430137       8.460274
std       0.0    8.808321         9.61307       9.119697       8.834665
min    2009.0    1.000000        -9.00000     -11.000000     -14.000000
25%    2009.0    8.000000         9.00000       6.000000       2.000000
50%    2009.0   16.000000        17.00000      13.000000       9.000000
75%    2009.0   23.000000        24.00000      21.000000      16.000000
max    2009.0   31.000000        33.00000      29.000000      24.000000

       Dew Point high (°C)  Dew Point avg (°C)  Dew Point low (°C)  \
count           365.000000          365.000000          365.000000
mean              8.241096            5.309589            2.030137
std              10.080280           10.564560           11.071529
min             -17.000000          -20.000000          -22.000000
25%               1.000000           -2.000000           -6.000000
50%              10.000000            7.000000            3.000000
75%              16.000000           14.000000           11.000000
max              25.000000           23.000000           21.000000

       Humidity (%) high  Humidity (%) avg  Humidity (%) low  \
count         365.000000        365.000000        365.000000
mean           81.701370         65.246575         48.284932
std            16.014798         14.871409         16.385497
min            32.000000         23.000000         14.000000
25%            70.000000         54.000000         37.000000
50%            84.000000         66.000000         46.000000
75%            97.000000         76.000000         59.000000
max           100.000000         97.000000         93.000000

       Sea Level Press. (hPa) high  Sea Level Press. (hPa) avg  \
count                   365.000000                  365.000000
mean                   1020.134247                 1016.523288
std                       7.130345                    7.651950
min                    1000.000000                  994.000000
25%                    1015.000000                 1012.000000
50%                    1021.000000                 1016.000000
75%                    1026.000000                 1022.000000
max                    1036.000000                 1032.000000

       Sea Level Press. (hPa) low  Visibility (km) high  Visibility (km) avg  \
count                  365.000000            365.000000           365.000000
mean                  1012.830137             15.975342            13.884932
std                      8.263761              0.271231             3.289664
min                    986.000000             13.000000             4.000000
25%                   1008.000000             16.000000            13.000000
50%                   1013.000000             16.000000            16.000000
75%                   1019.000000             16.000000            16.000000
max                   1030.000000             16.000000            16.000000

       Visibility (km) low
count           365.000000
mean             10.531507
std               6.336899
min               0.000000
25%               3.000000
50%              14.000000
75%              16.000000
max              16.000000

In [13]:
# Check for missing values
print("\nMissing values in Train Data:\n", train.isnull().sum())
print("\nMissing values in Macro Economic Data:\n", macro.isnull().sum())
print("\nMissing values in Events and Holidays Data:\n", events.isnull().sum())
print("\nMissing values in Weather Data:\n", weather.isnull().sum())

Missing values in Train Data:
 Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    10
dtype: int64

Missing values in Macro Economic Data:
 Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

Missing values in Events and Holidays Data:
 Year           0
MonthDate      0
Event          0
DayCategory    0
dtype: int64

Missing values in Weather Data:
 Year                             0
Month                            0
Day                              0
Temp high (°C)                   0
Temp avg (°C)                    0
Temp low (°C)                    0
Dew Point high (°C)              0
Dew Point avg (°C)               0
Dew Point low (°C)               0
Humidity (%) high                0
Humidity (%) avg                 0
Humidity (%) low                 0
Sea Level Press. (hPa) high      0
Sea Level Press. (hPa) avg       0
Sea Level Press. (hPa) low       0
Visibility (km) high             0
Visibility (km) avg              0
Visibility (km) low              0
Wind (km/h) low                  0
Wind (km/h) avg                  0
Wind (km/h) high                 0
Precip. (mm) sum                 0
WeatherEvent                   225
dtype: int64

In [14]:
# Step 1: Data Cleaning

# Handling missing values in Train Data
train['Sales(In ThousandDollars)'] = train['Sales(In ThousandDollars)'].fillna(train['Sales(In ThousandDollars)'].median())

# Handling "?" values in Macro Economic Data
macro.replace("?", np.nan, inplace=True)
macro['AdvertisingExpenses (in Thousand Dollars)'] = pd.to_numeric(macro['AdvertisingExpenses (in Thousand Dollars)'], errors='coerce')
macro['AdvertisingExpenses (in Thousand Dollars)'] = macro['AdvertisingExpenses (in Thousand Dollars)'].fillna(macro['AdvertisingExpenses (in Thousand Dollars)'].median())
# Ensure there are no "?" values left
print(macro[macro.eq("?").any(axis=1)])

Empty DataFrame
Columns: [Year-Month, Monthly Nominal GDP Index (inMillion$), Monthly Real GDP Index (inMillion$), CPI, PartyInPower, unemployment rate, CommercialBankInterestRateonCreditCardPlans, Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan, Earnings or wages  in dollars per hour, AdvertisingExpenses (in Thousand Dollars), Cotton Monthly Price - US cents per Pound(lbs), Change(in%), Average upland planted(million acres), Average upland harvested(million acres), yieldperharvested acre, Production (in  480-lb netweright in million bales), Mill use  (in  480-lb netweright in million bales), Exports]
Index: []

In [15]:
# Step 2: Detecting and Handling Outliers

# Function to detect outliers
def detect_outliers(df, n, features):
    outlier_indices = []

    for col in features:
        Q1 = np.percentile(df[col], 25)
        Q3 = np.percentile(df[col], 75)
        IQR = Q3 - Q1
        outlier_step = 1.5 * IQR

        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step)].index
        outlier_indices.extend(outlier_list_col)

    outlier_indices = Counter(outlier_indices)
    multiple_outliers = list(k for k, v in outlier_indices.items() if v > n)

    return multiple_outliers

from collections import Counter

outliers_to_drop = detect_outliers(train, 2, ['Sales(In ThousandDollars)'])
train = train.drop(outliers_to_drop, axis=0).reset_index(drop=True)

In [16]:
# Print the columns of each dataset after data cleaning and outlier handling
print("\nColumns in Train Data after cleaning:\n", train.columns)
print("\nColumns in Macro Economic Data after cleaning:\n", macro.columns)
print("\nColumns in Events and Holidays Data after cleaning:\n", events.columns)
print("\nColumns in Weather Data after cleaning:\n", weather.columns)

Columns in Train Data after cleaning:
 Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')

Columns in Macro Economic Data after cleaning:
 Index(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports'],
      dtype='object')

Columns in Events and Holidays Data after cleaning:
 Index(['Year', 'MonthDate', 'Event', 'DayCategory'], dtype='object')

Columns in Weather Data after cleaning:
 Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [17]:
# Step 3: Converting Categorical Variables
# Convert ProductCategory in Train Data using one-hot encoding if it exists
if 'ProductCategory' in train.columns:
    train = pd.get_dummies(train, columns=['ProductCategory'])

# Convert PartyInPower in Macro Economic Data using one-hot encoding if it exists
if 'PartyInPower' in macro.columns:
    macro = pd.get_dummies(macro, columns=['PartyInPower'])

# Convert Event and DayCategory in Events and Holidays Data using one-hot encoding if they exist
if 'Event' in events.columns:
    events = pd.get_dummies(events, columns=['Event'])
if 'DayCategory' in events.columns:
    events = pd.get_dummies(events, columns=['DayCategory'])

# Create directory for preprocessed data if it does not exist
preprocessed_dir = '../data/preprocessed'
if not os.path.exists(preprocessed_dir):
    os.makedirs(preprocessed_dir)

# Save cleaned and preprocessed data
train.to_csv(os.path.join(preprocessed_dir, 'train_cleaned.csv'), index=False)
macro.to_csv(os.path.join(preprocessed_dir, 'macro_cleaned.csv'), index=False)
events.to_csv(os.path.join(preprocessed_dir, 'events_cleaned.csv'), index=False)
weather.to_csv(os.path.join(preprocessed_dir, 'weather_cleaned.csv'), index=False)

print("Data cleaning, outlier handling, and categorical variable conversion completed successfully.")

Data cleaning, outlier handling, and categorical variable conversion completed successfully.

In [18]:
import pandas as pd

# Load cleaned datasets
train_cleaned = pd.read_csv('../data/preprocessed/train_cleaned.csv')
macro_cleaned = pd.read_csv('../data/preprocessed/macro_cleaned.csv')
events_cleaned = pd.read_csv('../data/preprocessed/events_cleaned.csv')
weather_cleaned = pd.read_csv('../data/preprocessed/weather_cleaned.csv')

# Display the first few rows of each dataset
print("First few rows of the cleaned Train Data:")
print(train_cleaned.head())

First few rows of the cleaned Train Data:
   Year  Month  Sales(In ThousandDollars)  ProductCategory_MenClothing  \
0  2009      1                     1755.0                        False
1  2009      1                      524.0                         True
2  2009      1                      936.0                        False
3  2009      2                     1729.0                        False
4  2009      2                      496.0                         True

   ProductCategory_OtherClothing  ProductCategory_WomenClothing
0                          False                           True
1                          False                          False
2                           True                          False
3                          False                           True
4                          False                          False

In [19]:
print("\nFirst few rows of the cleaned Macro Economic Data:")
print(macro_cleaned.head())

First few rows of the cleaned Macro Economic Data:
   Year-Month  Monthly Nominal GDP Index (inMillion$)  \
0  2009 - Jan                            14421.752895
1  2009 - Feb                            14389.200466
2  2009 - Mar                            14340.701639
3  2009 - Apr                            14326.815525
4  2009 - May                            14345.904809

   Monthly Real GDP Index (inMillion$)      CPI  unemployment rate  \
0                         14407.053343  233.402                7.8
1                         14366.176571  234.663                8.3
2                         14351.786822  235.067                8.7
3                         14351.601731  235.582                9.0
4                         14368.123959  235.975                9.4

   CommercialBankInterestRateonCreditCardPlans  \
0                                        12.03
1                                        12.97
2                                        12.97
3                                        12.97
4                                        13.32

   Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  \
0                                              11.44
1                                              11.05
2                                              11.05
3                                              11.05
4                                              11.25

   Earnings or wages  in dollars per hour  \
0                                   22.05
1                                   22.22
2                                   22.22
3                                   22.13
4                                   22.04

   AdvertisingExpenses (in Thousand Dollars)  \
0                                      137.0
1                                      200.0
2                                      200.0
3                                      214.0
4                                      200.0

   Cotton Monthly Price - US cents per Pound(lbs)  Change(in%)  \
0                                           57.70         4.02
1                                           55.21        -4.32
2                                           51.50        -6.72
3                                           56.78        10.25
4                                           61.95         9.11

   Average upland planted(million acres)  \
0                                  9.296
1                                  9.296
2                                  9.296
3                                  9.296
4                                  9.297

   Average upland harvested(million acres)  yieldperharvested acre  \
0                                    7.559                     799
1                                    7.559                     799
2                                    7.559                     799
3                                    7.559                     787
4                                    7.400                     803

   Production (in  480-lb netweright in million bales)  \
0                                             12.589
1                                             12.589
2                                             12.589
3                                             12.400
4                                             12.384

   Mill use  (in  480-lb netweright in million bales)  Exports  \
0                                               4.17    11.550
1                                               3.87    11.100
2                                               3.72    11.650
3                                               3.62    12.225
4                                               3.52    12.300

   PartyInPower_Democrats
0                    True
1                    True
2                    True
3                    True
4                    True

In [20]:
print("\nFirst few rows of the cleaned Events and Holidays Data:")
print(events_cleaned.head())

First few rows of the cleaned Events and Holidays Data:
   Year   MonthDate  Event_'Christmas Day' observed  \
0  2009  01/01/2001                           False
1  2009  01/01/2019                           False
2  2009  02/01/2014                           False
3  2009  02/01/2016                           False
4  2009  04/01/2012                           False

   Event_'Independence Day' observed  Event_'New Year's Day' observed  \
0                              False                            False
1                              False                            False
2                              False                            False
3                              False                            False
4                              False                            False

   Event_Christmas Day  Event_Christmas Eve  \
0                False                False
1                False                False
2                False                False
3                False                False
4                False                False

   Event_Columbus Day (Most regions)  Event_Day After Christmas Day  \
0                              False                          False
1                              False                          False
2                              False                          False
3                              False                          False
4                              False                          False

   Event_Easter Sunday  ...  Event_Mother's Day  Event_New Year's Day  \
0                False  ...               False                  True
1                False  ...               False                 False
2                False  ...               False                 False
3                False  ...               False                 False
4                 True  ...               False                 False

   Event_New Year's Eve  Event_Presidents' Day  Event_Thanksgiving Day  \
0                 False                  False                   False
1                 False                  False                   False
2                 False                  False                   False
3                 False                   True                   False
4                 False                  False                   False

   Event_Thomas Jefferson's Birthday  Event_Valentine's Day  \
0                              False                  False
1                              False                  False
2                              False                   True
3                              False                  False
4                              False                  False

   Event_Veterans Day  DayCategory_Event  DayCategory_Federal Holiday
0               False              False                         True
1               False              False                         True
2               False               True                        False
3               False              False                         True
4               False               True                        False

[5 rows x 27 columns]

In [21]:
print("\nFirst few rows of the cleaned Weather Data:")
print(weather_cleaned.head())

First few rows of the cleaned Weather Data:
   Year Month  Day  Temp high (°C)  Temp avg (°C)  Temp low (°C)  \
0  2009   Jan    1              -3             -6             -9
1  2009   Jan    2               1             -2             -5
2  2009   Jan    3               3              1             -2
3  2009   Jan    4               6              1             -4
4  2009   Jan    5               6              5              3

   Dew Point high (°C)  Dew Point avg (°C)  Dew Point low (°C)  \
0                  -16                 -17                 -19
1                   -3                  -7                 -17
2                   -5                  -9                 -13
3                  -10                 -12                 -13
4                   -1                  -5                 -16

   Humidity (%) high  ...  Sea Level Press. (hPa) avg  \
0                 54  ...                        1023
1                 78  ...                        1012
2                 72  ...                        1015
3                 55  ...                        1017
4                 62  ...                        1014

   Sea Level Press. (hPa) low  Visibility (km) high  Visibility (km) avg  \
0                        1015                    16                   16
1                        1007                    16                   13
2                        1008                    16                   16
3                        1015                    16                   16
4                        1013                    16                   16

   Visibility (km) low  Wind (km/h) low  Wind (km/h) avg  Wind (km/h) high  \
0                   16               37               18                60
1                    2               27               10                48
2                   16               27               16                42
3                   16               32               12                40
4                   16               23               11                34

  Precip. (mm) sum WeatherEvent
0                0          NaN
1                T         Snow
2                T          NaN
3                0          NaN
4                T          NaN

[5 rows x 23 columns]

In [22]:
import pandas as pd

# Load cleaned datasets
train_data  = pd.read_csv('../data/preprocessed/train_cleaned.csv')
macro_data  = pd.read_csv('../data/preprocessed/macro_cleaned.csv')
events_data  = pd.read_csv('../data/preprocessed/events_cleaned.csv')
weather_data  = pd.read_csv('../data/preprocessed/weather_cleaned.csv')


# Handling missing values
def handle_missing_values(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column].fillna(df[column].mode()[0], inplace=True)
        else:
            df[column].fillna(df[column].mean(), inplace=True)

handle_missing_values(train_data)
handle_missing_values(macro_data)
handle_missing_values(events_data)
handle_missing_values(weather_data)

C:\Users\matiwos.desalegn\AppData\Local\Temp\ipykernel_24076\3009317211.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
C:\Users\matiwos.desalegn\AppData\Local\Temp\ipykernel_24076\3009317211.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

In [25]:
# Handling missing values
def handle_missing_values(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column] = df[column].fillna(df[column].mode()[0])
        else:
            df[column] = df[column].fillna(df[column].mean())

handle_missing_values(train_data)
handle_missing_values(macro_data)
handle_missing_values(events_data)
handle_missing_values(weather_data)

# Converting specified columns to numeric
def convert_to_numeric(df, columns):
    for column in columns:
        df[column] = pd.to_numeric(df[column], errors='coerce')
        df[column] = df[column].fillna(df[column].mean())

macro_numeric_cols = [
    'Monthly Nominal GDP Index (inMillion$)',
    'Monthly Real GDP Index (inMillion$)',
    'CPI', 'unemployment rate',
    'CommercialBankInterestRateonCreditCardPlans',
    'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
    'Earnings or wages  in dollars per hour',
    'AdvertisingExpenses (in Thousand Dollars)',
    'Cotton Monthly Price - US cents per Pound(lbs)',
    'Change(in%)', 'Average upland planted(million acres)',
    'Average upland harvested(million acres)',
    'yieldperharvested acre',
    'Production (in  480-lb netweright in million bales)',
    'Mill use  (in  480-lb netweright in million bales)',
    'Exports'
]

weather_numeric_cols = [
    'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
    'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
    'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low',
    'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
    'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
    'Wind (km/h) high', 'Wind (km/h) avg', 'Wind (km/h) low', 'Precip. (mm) sum'
]

convert_to_numeric(macro_data, macro_numeric_cols)
convert_to_numeric(weather_data, weather_numeric_cols)

# Convert month names to numbers
month_map = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4,
    'May': 5, 'June': 6, 'July': 7, 'August': 8,
    'September': 9, 'October': 10, 'November': 11, 'December': 12,
    ' Jan': 1, ' Feb': 2, ' Mar': 3, ' Apr': 4,
    ' May': 5, ' Jun': 6, ' Jul': 7, ' Aug': 8,
    ' Sep': 9, ' Oct': 10, ' Nov': 11, ' Dec': 12
}

# Strip whitespace and map month names to numbers
macro_data['Month'] = macro_data['Month'].str.strip()
macro_data['Month'] = macro_data['Month'].map(month_map)

# Check for NaN values in the Month column
nan_values = macro_data['Month'].isna().sum()
if nan_values > 0:
    # Handle NaN values appropriately, e.g., fill with a default value or drop rows
    macro_data['Month'] = macro_data['Month'].fillna(1)  # Example: Fill NaN with 1 (January)

# Convert Month column to integer
macro_data['Month'] = macro_data['Month'].astype(int)

# Merge datasets based on Year and Month
def merge_datasets(train, macro, events, weather):
    # Ensure proper data types
    train['Year'] = train['Year'].astype(int)
    train['Month'] = train['Month'].astype(int)

    # Merge train with macro data
    merged_data = pd.merge(train, macro, on=['Year', 'Month'], how='left')

    # Convert events_data MonthDate to match the type of macro_data Month
    events['MonthDate'] = pd.to_datetime(events['MonthDate']).dt.month.astype(int)

    # Merge with events data
    merged_data = pd.merge(merged_data, events, left_on=['Year', 'Month'], right_on=['Year', 'MonthDate'], how='left')
    merged_data.drop(columns=['MonthDate'], inplace=True)

    # Merge with weather data
    merged_data = pd.merge(merged_data, weather, on=['Year', 'Month'], how='left')

    return merged_data

final_data = merge_datasets(train_data, macro_data, events_data, weather_data)

# Display the first few rows of the merged dataset
print(final_data.head())

KeyError: 'Month'

In [24]:
# Handling missing values
def handle_missing_values(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column] = df[column].fillna(df[column].mode()[0])
        else:
            df[column] = df[column].fillna(df[column].mean())

handle_missing_values(train_data)
handle_missing_values(macro_data)
handle_missing_values(events_data)
handle_missing_values(weather_data)

# Converting specified columns to numeric
def convert_to_numeric(df, columns):
    for column in columns:
        df[column] = pd.to_numeric(df[column], errors='coerce')
        df[column] = df[column].fillna(df[column].mean())

macro_numeric_cols = [
    'Monthly Nominal GDP Index (inMillion$)',
    'Monthly Real GDP Index (inMillion$)',
    'CPI', 'unemployment rate',
    'CommercialBankInterestRateonCreditCardPlans',
    'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
    'Earnings or wages  in dollars per hour',
    'AdvertisingExpenses (in Thousand Dollars)',
    'Cotton Monthly Price - US cents per Pound(lbs)',
    'Change(in%)', 'Average upland planted(million acres)',
    'Average upland harvested(million acres)',
    'yieldperharvested acre',
    'Production (in  480-lb netweright in million bales)',
    'Mill use  (in  480-lb netweright in million bales)',
    'Exports'
]

weather_numeric_cols = [
    'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
    'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
    'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low',
    'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
    'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
    'Wind (km/h) high', 'Wind (km/h) avg', 'Wind (km/h) low', 'Precip. (mm) sum'
]

convert_to_numeric(macro_data, macro_numeric_cols)
convert_to_numeric(weather_data, weather_numeric_cols)

# Convert month names to numbers
month_map = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4,
    'May': 5, 'June': 6, 'July': 7, 'August': 8,
    'September': 9, 'October': 10, 'November': 11, 'December': 12,
    ' Jan': 1, ' Feb': 2, ' Mar': 3, ' Apr': 4,
    ' May': 5, ' Jun': 6, ' Jul': 7, ' Aug': 8,
    ' Sep': 9, ' Oct': 10, ' Nov': 11, ' Dec': 12,
    'nan': 1  # Example: Handle if there are any remaining 'nan' values
}

# Ensure `Month` column is string type
macro_data['Month'] = macro_data['Month'].astype(str)

# Strip whitespace and map month names to numbers
macro_data['Month'] = macro_data['Month'].str.strip()
macro_data['Month'] = macro_data['Month'].map(month_map)

# Check for non-numeric values
non_numeric_values = macro_data['Month'].loc[~macro_data['Month'].isin(range(1, 13))].unique()
if non_numeric_values:
    # Handle non-numeric values as needed
    macro_data.loc[macro_data['Month'].isin(non_numeric_values), 'Month'] = 1  # Example: Fill with 1

# Convert Month column to integer
macro_data['Month'] = macro_data['Month'].astype(int)

# Now continue with your merging and data processing

# Merge datasets based on Year and Month
def merge_datasets(train, macro, events, weather):
    # Ensure proper data types
    train['Year'] = train['Year'].astype(int)
    train['Month'] = train['Month'].astype(int)

    # Merge train with macro data
    merged_data = pd.merge(train, macro, on=['Year', 'Month'], how='left')

    # Convert events_data MonthDate to match the type of macro_data Month
    events['MonthDate'] = pd.to_datetime(events['MonthDate']).dt.month.astype(int)

    # Merge with events data
    merged_data = pd.merge(merged_data, events, left_on=['Year', 'Month'], right_on=['Year', 'MonthDate'], how='left')
    merged_data.drop(columns=['MonthDate'], inplace=True)

    # Merge with weather data
    merged_data = pd.merge(merged_data, weather, on=['Year', 'Month'], how='left')

    return merged_data

final_data = merge_datasets(train_data, macro_data, events_data, weather_data)

# Display the first few rows of the merged dataset
print(final_data.head())

KeyError: 'Month'

In [ ]:
import os

# Define the path to save the CSV file
output_dir = "../data/merged/"
os.makedirs(output_dir, exist_ok=True)  # Create the directory if it doesn't exist

# Save the merged data to a CSV file
output_file = os.path.join(output_dir, "merged_data.csv")
final_data.to_csv(output_file, index=False)

print(f"Saved merged data to {output_file}")

Saved merged data to ../data/merged/merged_data.csv

In [26]:
import pandas as pd
import os

# File paths
input_file = '../data/merged/merged_data.csv'
output_dir = '../data/merged/'
output_file_updated = os.path.join(output_dir, "merged_data_updated.csv")

# Load the merged data from CSV
final_data = pd.read_csv(input_file)

# Drop the Year-Month column
final_data.drop(columns=['Year-Month'], inplace=True)

# Save the modified merged data to a CSV file
final_data.to_csv(output_file_updated, index=False)

Saved updated merged data to ../data/merged/merged_data_updated.csv

In [28]:
# Display the first few rows of the merged dataset
print(final_data.head())

   Year  Month  Sales(In ThousandDollars)  ProductCategory_MenClothing  \
0  2009      1                     1755.0                        False
1  2009      1                     1755.0                        False
2  2009      1                     1755.0                        False
3  2009      1                     1755.0                        False
4  2009      1                     1755.0                        False

   ProductCategory_OtherClothing  ProductCategory_WomenClothing  \
0                          False                           True
1                          False                           True
2                          False                           True
3                          False                           True
4                          False                           True

   Monthly Nominal GDP Index (inMillion$)  \
0                            14421.752895
1                            14421.752895
2                            14389.200466
3                            14389.200466
4                            14340.701639

   Monthly Real GDP Index (inMillion$)      CPI  unemployment rate  ...  \
0                         14407.053343  233.402                7.8  ...
1                         14407.053343  233.402                7.8  ...
2                         14366.176571  234.663                8.3  ...
3                         14366.176571  234.663                8.3  ...
4                         14351.786822  235.067                8.7  ...

   Sea Level Press. (hPa) avg  Sea Level Press. (hPa) low  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         NaN                         NaN
3                         NaN                         NaN
4                         NaN                         NaN

   Visibility (km) high  Visibility (km) avg  Visibility (km) low  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2                   NaN                  NaN                  NaN
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN

   Wind (km/h) low  Wind (km/h) avg  Wind (km/h) high  Precip. (mm) sum  \
0              NaN              NaN               NaN               NaN
1              NaN              NaN               NaN               NaN
2              NaN              NaN               NaN               NaN
3              NaN              NaN               NaN               NaN
4              NaN              NaN               NaN               NaN

   WeatherEvent
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

[5 rows x 69 columns]

#EDA

In [30]:
import matplotlib.pyplot as plt

# Example of plotting sales trends
plt.figure(figsize=(10, 6))
plt.plot(final_data['Year-Month'], final_data['Sales(In ThousandDollars)'])
plt.xlabel('Year-Month')
plt.ylabel('Sales (in Thousand Dollars)')
plt.title('Sales Trends over Time')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

KeyError: 'Year-Month'